{% extends "base.html" %}

{% block title %} Forum {% endblock %}

{% block content %}

<h1>Dash Forum</h1>
<p>Dash is a modern, lightweight, open source board software.</p>
</br>
</br>
{% for section in section_list %}
<div style="border: solid; border-width: thin; padding-left: 2em; padding-top: 1em;">
    <h2><a href="{{url_for('show_section')}}?s={{section['section_id']}}">{{ section["title"] }}</a></h2>

    {% for section_preview in section["subsection_list"] %}

    <div class="row">
        <div class="col-sm-9">
            <a href="{{url_for('show_subsection')}}?s={{section_preview['subsection_id']}}">{{
                section_preview["subsection_name"] }}
        </div>

        <div class="col-sm-3">
        <span style="padding-left: 5em;">{{
    section_preview["info"] }}</span>
        </div>
    </div>
    {% endfor %}
    </br>
</div>
{% endfor %}

{% endblock %}